/*this is an universal seceltor*/
*{
    background-color: #ccd5ae;
    color: black;
}

/*this is an element selector*/
p{
    color: #219ebc;
}

/*this is an id selector*/
#main-heading{
    text-align: center;
    color: #ffb703;
    font-size: 100px;
}

/*this is a class selector*/
.para{
    font-size: 20px;
    text-align: right;
}

/*this is how you select the element that is nestes inside the element*/
ul li{
    color: #f72585;
}
/*this is adjent selector*/
h2 + button{
    background-color: red;
    font-size: 50px;
}
/*this is direct child selector*/
footer > h2{
    color: blueviolet;
}
/*attribute selector*/
input[type="text"]{
    color: red;
}

/*pseudo classes*/

button:hover{
    background-color: #4895ef;
}
button:active{
    background-color: #3a0ca3;
}

.para:nth-of-type(2n){
    color: #6930c3;
}

p::first-letter{
    font-weight: 900;
    font-size: 50px;
}

::selection{
    background-color: #ffadad;
}